#content
{

  font-size: 30px;
  display: flex;
  flex-direction: column;



    #inf-data
    {
      display: flex;
      justify-content: space-between;

    }

    #canvas-number{

    justify-content: center;


      #canvas-nr-Faktury{

      font-size: 60px;
      font-weight: bold;
        text-align: center;
        padding: 200px 0 100px 0;




      }


    }
    #canvas-date
    {
      padding: 50px 200px 100px 100px;
    }
    #canvas-merchant
    {

      padding: 0 100px 0 100px;



    }
    #canvas-client
    {


      padding: 50px;
    }



}